@page
@model EmployeeManager.Pages.Employees.IndexModel
@{
}

<br>
<h3>List of Employees</h3>
<a class="btn btn-primary btn-sm" href="/Employees/Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.employees)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.email</td>
                    <td>@item.phone</td>
                    <td>@item.address</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/Employees/Edit?id=@item.id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Employees/Delete?id=@item.id">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>